{% extends 'store/main.html' %}
{% load static %}
{% block content %}
     <div class="pg-cont cart-container">
         <div class="cart-details">

             <div class="box-element">
                
                 <table class="cart-btn-table hidden-table hide">
                     
                     <th id="continue-shopping" style="width: 30%;">
                       <a href="{% url 'store' %}" class="b-shopping">Shop</a>
                   </th>
                    
                    <th id="checkout-btn" style="width: 30%;">
                        <a class="checkout-btn" href="{% url 'checkout' %}">Checkout</a>
                    </th>
                     
                 </table>
                
                <table style="width: 100%; background: rgba(255, 255, 255, 0.3); border-radius: 5px; color: white; padding: 15px 25px; margin-bottom: 30px;" class="shown-table">

                   <th id="continue-shopping" style="width: 30%;">
                       <a href="{% url 'store' %}" class="b-shopping">Shop</a>
                   </th>

                    <th><h3 style="background: rgba(0, 0, 0, 0.5); padding-block:10px; margin: 0; border-radius:5px;">Items: <strong>{{ order.get_cart_items }}</strong></h3></th>

                    <th><h3 style="background: rgba(0, 0, 0, 0.5); padding-block:10px; margin: 0; border-radius:5px;"><strong>Total:Ksh {{ order.get_cart_total | floatformat:2 }}</strong></h3></th>

                    <th id="checkout-btn" style="width: 30%;">
                        <a class="checkout-btn" href="{% url 'checkout' %}">Checkout</a>
                    </th>

                </table>
                 
                 
            
            </div>
            
            <div style="background: rgba(255, 255, 255, 0.3); border-radius: 5px; color: white; padding: 30px; font-size: 22px;" class="box-element">
                <div class="cart-rows" style="background:rgba(0, 0, 0, 0.6); border-radius: unset; color: white;">
                    <div style="grid-column-start: 1;"></div>
                    <div style="grid-column-start: 2;"><strong>Item</strong></div>
                    <div style="grid-column-start: 3;"><strong>Price</strong></div>
                    <div style="grid-column-start: 4;"><strong>Quantity</strong></div>
                    <div style="grid-column-start: 5;"><strong>Total</strong></div>
                    
                </div>
                
                
                
                {% for item in items %}
                <div class="cart-rows-hidden hide">

                    <div style="width: 100%; height: auto;">
                        <img style="width: 100%; height: 100%; object-fit: scale-down;" src="{{ item.product.imageURL }}" alt="product image">
                    </div>
                    <div class="child-2">
                        <div><p style="font-weight: 600;"><i>{{ item.product.name|capfirst }}</i></p></div>
                        
                        <div>
                            <p style="color: yellowgreen;">Ksh {{item.product.price}}</p>
                        </div>
                        
                        <div class="cart-buttons">
                            
                            <p style="background: green; color: white; font-weight: 400; width: 30px;height: 30px; border-radius: 50%; display: grid; place-items: center;" data-product="{{item.product.id}}" data-action="add" class="update-cart">+</p>

                            <p style="background:rgba(255, 255, 255, 0.5); padding: 5px 15px; display:grid; place-items:center; border-radius: 8px;">{{item.quantity}}</p>

                            <p style="background: red; padding-top: -9px; color: white; font-weight: 400; width: 30px; height: 30px; border-radius: 50%; display: grid; place-items: center;"  data-product="{{item.product.id}}" data-action="remove" class="update-cart">-</p>
                            
                        </div>
                        
                        <div><p> <span style="color: green;">SUBTOTAL:</span> Ksh {{ item.get_total }}</p></div>
                        
                        
                        
                    </div>
                    
                </div>
                <div class="cart-rows">

                    <div style="grid-column-start: 1;">
                        
                        <div style="width: 100%; height: 150px;">
                             <img style="width: 100%; height: 100%; object-fit: scale-down;" src="{{ item.product.imageURL }}" alt="product image">
                        </div>
                        
                    </div>

                    <div style="grid-column-start: 2;display: grid; align-items: center;">
                        <p>{{item.product.name|capfirst}}</p>
                    </div>

                    <div style="grid-column-start: 3;display: grid; align-items: center;">
                        <p>Ksh {{item.product.price}}</p>
                    </div>

                        

                    <div style="grid-column-start: 4;display: grid; align-items: center;">
                        <div class="quantity">

                            <p style="background: rgba(44, 153, 5, 0.6)" data-product="{{item.product.id}}" data-action="add" class="update-cart">+</p>

                            <span id="child-2">{{item.quantity}}</span>
                            
                            <p style=" background: rgba(162, 7, 7, 0.6);" data-product="{{item.product.id}}" data-action="remove" class="update-cart">-</p>
                        </div>
                    </div>
                    
                    

                    
                    <div style="grid-column-start: 5;display: grid; align-items: center;"><p>Ksh {{ item.get_total }}</p></div>
                    
                </div>
                {% endfor %}
            
            </div>
            

        </div>

         
     </div>
{% endblock %}