<!doctype html>
{% load static %}
<html lang="en">
    <head>
      <meta charset="utf-8">
      
      <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
      
      {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title>Ecomreal</title>
      {% endif %}
      
      <meta name="description" content="Shop the best trends">
      <meta name="author" content="the_*developers">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script type="text/javascript">
            let user = '{{request.user}}';
            
          
            function getToken(name){
                    let cookieValue = null;
                    if (document.cookie && document.cookie !== ''){
                        const cookies = document.cookie.split(';');
                        for (let i = 0; i < cookies.length; i++){
                            const cookie = cookies[i].trim();
                            if (cookie.substring(0 , name.length + 1) === (name + '=')){
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
            }
            const csrftoken = getToken('csrftoken')

            function getCookie(name){
                // Split cookie string and get all individual name=value pairs in an array
                var cookieArr = document.cookie.split(";");

                // loop through the array elements
                for(let i=0; i < cookieArr.length; i++){
                    let cookiePair = cookieArr[i].split("=");

                    /*removing whitespace at the begining of cookie name and 
                    compare it with given string*/
                    if (name == cookiePair[0].trim()){
                        //decode cookie value and return
                        return decodeURIComponent(cookiePair[1]);
                    }

                }

                //return null if not found
                return null;
            }
            var cart = JSON.parse(getCookie('cart'));
            var cart_no = JSON.parse(getCookie('cartno'))

            // set the cookie if it's not there

            if (cart == undefined){
                cart = {}
                console.log('cart created!', cart);
                document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/";
            }
            if (cart_no == undefined){
                cart_no = {}
                console.log('cart_no created!', cart_no);
                document.cookie = 'cartno=' + JSON.stringify(cart_no) + ";domain=;path=/";
            }
            console.log("cart:",cart);
        
      </script>
      

    </head>
    <body>
    
    <header>
            
            
            
            <ul id="navigation">

                <li id="logoname" class="hide">
                    <a href="{% url 'store' %}">EcomRl</a>
                </li>
                
                <li>
                    <a href="{% url 'store' %}">Shop</a>
                </li>
                
                <li>
                    <a href="{% url 'about' %}">About</a>
                </li>

                <li>
                    <a href="{% url 'vendors:vendor_dash' %}">Vendor</a>
                </li>

                <li>
                <a href="{% url 'site-cont' %}">Contact us</a>
                </li>
                <div id="user_credential_parent">
                    <div style="box-shadow: -4px -4px 5px white,-2px -2px 5px white,4px 4px 5px white,2px 2px 5px white;" class="cart-icon">
                    
                    <a href="{% url 'cart' %}"><img class="cart-img" style="width: 100%; height: 100%;" src="{% static 'img/carrt.png' %}" alt=""></a>
                    <p class="cart-num"><span>{{cartItems}}</span></p>
                    </div>


                    <div id="user_credential">
                        {% if user.is_authenticated %}
                        <span class="a_bg">
                            <a href="{% url 'users:site-profile' %}" class="user_name">{{user.email}}</a> 
                            <span class="user_drop_down">v</span>
                        </span>
                        {% else %}
                        <span class="a_bg">
                            <a href="{% url 'users:site-login' %}" class="user_name">Sign Up</a> 
                            <span class="user_drop_down">v</span>
                        </span>
                        {% endif %}

                        {% if user.is_authenticated %}
                        <div class="user_menu">
                            <a href="{% url 'users:site-profile' %}">Account</a>
                            <a href="#">Terms</a>
                            {% if user.is_authenticated %}
                            <a href="{% url 'users:site-logout' %}">Logout</a>
                            {% else %}
                            <a href="{% url 'users:site-register' %}">Sign up</a>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>

                



                </div>

                
                
                
                
                

                </ul>
                
                <div id="myNav" class="overlay">

                                <!-- Button to close the overlay navigation -->
                                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

                                <!-- Overlay content -->
                                <div class="overlay-content">

                                    <a href="{% url 'store' %}">Shop</a>
                                    
                                    <a href="{% url 'about' %}">About</a>

                                    
                                    
                                    <a href="{% url 'site-cont' %}">Contact Us</a>
                                    
                                    <a href="{% url 'cart' %}">Cart</a>

                                    <!--<a href="#">Profile</a>-->
                                </div>

                        </div>
                        
                        <span class="menu hide" onclick="openNav()">&#9776; </span>
                        
                        
                        <script>
                            function openNav() {
                                document.getElementById("myNav").style.width = "100%";
                            }

                            function closeNav() {
                                document.getElementById("myNav").style.width = "0%";
                            }
                        </script>

    </header>
<!--          the below background is in main.html-->
        <!-- <div style="position: fixed; z-index: -101; inset:0; filter: brightness(50%); ">
            <img style="filter: blur(50%); width: 100%; height: 100%;" src="{% static 'img/pexels-kaboompics-com-6444.jpg' %}" alt="">
            
        </div> -->
        
    
            
            {% if messages %}
            <div class="success-msg">
            {% for message in messages %}
                <div>{{ message }}</div>
            {% endfor %}
            </div>
            {% endif %}
        
            
        
        
        {% block content %}
        
        

        {% endblock %}
        <script type="text/javascript" src="{% static 'js/cart.js' %}">



        </script>
            
            
            
            
            
            
        
        
        
    </body>
    
</html>





