{% extends 'store/main.html' %}

{% load static %}
{% block content %}
   
   <style>
        .login-cont-box{
            width: 100%;
            height: 100vh;
            display: grid; 
            place-items: center;
            /*overflow: hidden;*/
        }
        .login-cont{
            width: 50%;
            background: #070d12;
            color: black;
            opacity: .8;
            padding: 20px;
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2), -5px -5px 5px rgba(0, 0, 0, 0.2);
        }
        form label{
            display: grid;
            font-size: 20px;
            margin: 0 10px;
            color: antiquewhite;
        }
        form input{
            margin: 0 10px;
            width: 85%;
            height: 4vh;
            outline: none;
            background: transparent;
            color: white;
            padding-left: 10px;
            border: 1px #93a46f66  solid;
        }
        .success-btn2{
            background: green;
            color: white;
            height: 4.3vh;
            width: 15vh;
            border-radius: 5px;
            margin-left: 10px;
            border: none;
            font-weight: 500;
        }
        
        
    </style>
    <section class="login-cont-box">
        
        
   
    <div class="login-cont">
       <h1 style="color: white;">LOG IN</h1>
       <hr style="margin: 15px 0">
        <form method="post">
          {% csrf_token %}
          
           {% for field in form %}
             
                 {{ field.label_tag }}<br>
                 
                 {{ field }}<br>
                 

                  <hr style="margin: 15px 0">
             
            {% endfor %}
            <div style="position: relative; display: grid; grid-template-columns: 1fr 1fr; place-items: center; width: 85%;">
            
            <button class="success-btn2" style="cursor: pointer; justify-self: left;" type="submit">LOG IN</button>
            
            <p style="color: #93a46f;">New user? <a style="color: white; font-weight: 700;" href="{% url 'users:site-register' %}">Sign Up</a></p>
            
            </div>
            
        </form>
    </div>
 </section>
    
    
    
{% endblock %}