asgiref==3.3.1
boto3==1.17.109
botocore==1.20.109
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
crayons==0.4.0
dj-database-url==0.5.0
Django==3.1.7
django-appconf==1.0.4
django-bank==0.1.0
django-filter==2.4.0
django-storages==1.11.1
gunicorn==20.1.0
idna==2.10
jmespath==0.10.0
Pillow==8.1.2
pinax-cli==1.1.4
pinax-referrals==4.0.1
psycopg2==2.9.1
python-dateutil==2.8.1
python-dotenv==0.18.0
pytz==2021.1
requests==2.25.1
s3transfer==0.4.2
six==1.16.0
sqlparse==0.4.1
urllib3==1.26.4
whitenoise==5.2.0
